.font{
    font-family: 'Courgette', cursive;
    font-size: 50px;
    padding-left: 120px;
    padding-top: 100px;
}
#fc{
    font-family: 'Courgette', cursive;
    padding-left: 120px;
    font-size: 50px;
    color: aqua;
}
#border{
    line-height: 15px;
    border-left-color:blue ;   
}
.m-font{
    font-family: 'Poppins', sans-serif;    
}
.half-width{
     width: 40%;    
    padding-left: 40px;
    padding-right: 40px;
}
.half-width img{
    width: 300px;
    padding-left: 800px;   
    padding-bottom:100px;
    display: flex;
}
#bd{
    display: flex;
    width: 50%
}
#ta{
    text-align: center;
}
#sp{
    color: lightgreen;
}
.font{
    border-left: rgb(86, 86, 255);
}section{
    display:flexbox
    
}
#ta{
    text-align: center;
}
#sp{
    color: lightgreen;
}
#am{
    font-size: 35px;
}
.i1{
    width: 150px;
}
.i2{
    width: 150px;
}
.i3{
    width: 150px;
}
.st{
    display: flex;
    width: 80px;
    
}
#div-1{
    background-color: cornsilk;
    width: 80px;
    flowt:raight;
    border-radius: 30px;
    padding-left: 150px;
    padding-right: 200px;
    padding-bottom: ; 
    margin: 5px;
    ;

}
#div-2{
    background-color: lightpink;
    width: 80px;
    flowt:middle;
    border-radius: 30px;
    padding-left: 150px;
    padding-right: 200px;
    padding-bottom: 
    
}
#div-3{
    background-color: lightsteelblue;
    width: px;
    flowt:raight;
    border-radius: 30px;
    padding-left: 150px;
    padding-right: 150px; 
    padding-bottom:
    
}
.d1{
    display: flex;
    padding-left: 30px;
    width: 100px;
}
.d2{
    display: flex;
    width: 100px;
}
.d3{
    display: flex;
    width: 100px;
}
.cl{
    text-decoration: none;
    background-color: blue;
padding: 10px 40px;
border-radius: 5px;
color: white;
padding-left: 50px;
font-weight: 700;
}
#sb{
    padding-left:50px;
    padding-top: 20px;
}
.img-coding{
    display: flex;
    width: 300px;
}
.margin{
    margin: 10px solid;
    
}
.imc{
    display: flex;

}
.lf{
    display: flex;
}
.fx{
    display: flex;
    padding-right: 100px;
    padding-left: 50px;
}
.pp{
    display: flex;
    width: 400px;
}
.hp{
    width: 400px;
    display: flex;
    border-radius: 20px;
    padding-left: 40px;
}
.ph{
    display: flex;
}
.cr{
    text-align: center;
    background-color: green;
    padding: 5px 10px;
}